html
  head
    title!= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      if(visitor.name === 'friend')
        form(method='post')
          input(type='text', name='remember', placeholder='What\'s your name?')
          input(type='submit', value='Remember me')
        hr
      h1!= 'hey there, ' + visitor.name
      a(href='./forget') forget me
      hr
      form(method='post')
        input(type='text', name='message', placeholder='type...')
    script(src='/socket.io/socket.io.js')
    script(src='/js/thread.js')
