html
  head
    title!= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      .hidden
        if(visitor.name === 'friend')
          form(method='post')
            input(type='text', name='remember', autocomplete='off')
            input(type='submit', value='Remember me')
          hr
        h1!= 'hey there, ' + visitor.name
        a(href='./forget') forget me
      .thread-wrapper
        ul.thread
      .thread-form
        form.msg(method='post')
          input(type='text', name='message', placeholder='say hello...', autocomplete='off')
    script(src='/socket.io/socket.io.js')
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/js/thread.js')
